/* start varibluse  */
:root {
  --main-color: #19c8fa;
  --transepern-color: rgb(15 116 143 / 70%);
  --section-padding: 100px 0;
}
/* end varibluse  */
/* start global values  */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
}
p {
  margin: 0;
}
h3,
h1,
h2 {
  margin: 0;
}
/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end global values  */
/* start componante */
.main-heading {
  text-align: center;
}
.main-heading h1 {
  margin-bottom: 70px;
  margin-top: 0;
  font-weight: normal;
  position: relative;
  font-size: 40px;
}
.main-heading h1::before {
  content: "";
  width: 120px;
  height: 2px;
  background-color: #000;
  position: absolute;
  left: 50%;
  bottom: -30px;
  transform: translatex(-50%);
}
.main-heading h1::after {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #000;
  background-color: #fff;
  position: absolute;
  left: 50%;
  bottom: -38px;
  transform: translatex(-50%);
}
.main-heading p {
  margin: 0 auto 100px;
  width: 550px;
  line-height: 2;
  color: #777;
  max-width: 100%;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
/* end componante */
/* start header  */
header {
  position: absolute;
  left: 0%;
  width: 100%;
  z-index: 2;
  padding: 30px 0;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .container::before {
  content: "";
  position: absolute;
  background-color: #a2a2a2;
  width: calc(100% - 30px);
  height: 1px;
  left: 15px;
  top: calc(100% + 30px);
}
header .container .logo {
  height: 40px;
}
header .nav {
  display: flex;
  align-items: center;
}
header .nav ul {
  display: flex;
  justify-content: flex-end;
}
header .nav ul a {
  color: white;
  padding: 39px 10px;
  font-size: 14px;
  transition: 0.3s;
  position: relative;
}
header .nav .active,
header .nav a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
  position: relative;
}
header .form {
  position: relative;
  width: 40px;
  height: 30px;
  border-left: 1px solid white;
  margin-left: 30px;
}
header .form i {
  font-size: 20px;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
header .container .togle {
  font-size: 22px;
  color: white;
  display: none;
}
@media (max-width: 768px) {
  header .container .togle {
    display: block;
  }
  header .container ul {
    display: none;
    width: 100%;
    margin: 0;
    padding: 0 15px;
    position: absolute;
    z-index: 1;
    right: 0;
    top: calc(100% + 30px);
    background-color: rgb(0 0 0 / 50%);
  }
  header .container .togle:hover + ul {
    display: block;
  }
  header .container ul li {
    padding: 15px 0px;
  }
  header .container ul li:first-child::before {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    width: calc(100% + 30px);
    height: 1px;
    left: -15px;
    top: 49px;
  }
  header .nav .active::before,
  header .nav a:hover::before {
    display: none;
  }
  header .container .nav ul a {
    padding: 0px;
    border-bottom: none;
  }
}
/* end header  */
/* start landing */
.landing {
  min-height: 100vh;
  background-size: cover;
  background-image: url("../images/istockphoto-1251629816-170667a.jpg");
  position: relative;
}
.landing .text-box {
  width: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--transepern-color);
  color: white;
  padding: 50px;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 768px) {
  .landing .text-box {
    width: 100%;
    padding: 40px;
  }
  .landing .right,
  .landing .left {
    display: none;
  }
  .landing .text-box .text {
    max-width: 100% !important;
  }
}
.landing .text-box .text {
  max-width: 500px;
}
.landing .text-box .text h2 {
  font-weight: normal;
  font-size: 32px;
  line-height: 1.5;
  margin-bottom: 20px;
  margin-top: 0;
}
.landing .text-box .text p {
  font-size: 14px;
  line-height: 2;
  margin: 0;
}
.landing .right,
.landing .left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ddd;
  font-size: 35px;
}
.landing .left {
  left: 30px;
}
.landing .right {
  right: 30px;
}
.landing .bulets {
  width: 80px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: calc(50% - 40px);
  bottom: 30px;
}
.landing .bulets div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #fff;
}
.landing .bulets div:nth-child(2) {
  background-color: var(--main-color);
  border: none;
}
/* end landing */
/* start heading  */
.services {
  background-color: white;
  padding: var(--section-padding);
}
.services .container .section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 60px 40px;
}
@media (max-width: 768px) {
  .services .container .section {
    display: flex;
    flex-direction: column;
  }
  .services .container .section .col {
    display: block !important;
    text-align: center;
  }
  .services .container .section .col i {
    margin-right: 0 !important;
    margin-bottom: 30px;
  }
}
.services .container .section .col {
  display: flex;
}
.services .container .section .col i {
  font-size: 3rem;
  margin-right: 50px;
}
.services .container .section .col h3 {
  margin-bottom: 30px;
  color: var(--main-color);
}
.services .container .section .col p {
  color: #777;
  line-height: 2;
}
/* end heading  */
/* start design */
.design {
  height: 600px;
  background-image: url("../images/design-features.jpg");
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.design .text-box {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
  background-color: var(--transepern-color);
  color: #fff;
  width: 53%;
  display: flex;
}
.design .text-box .text {
  width: 550px;
}
.design .text-box .text h2 {
  font-weight: normal;
  margin-bottom: 50px;
}
.design .text-box .text p {
  margin-bottom: 25px;
  font-size: 18px;
}
.design .text-box .text p i {
  margin-right: 15px;
  font-size: 1rem;
  position: relative;
  top: 1px;
}
.design .container {
  position: relative;
}
.design .container img {
  position: relative;
  top: 210px;
  right: -40px;
}
.design .container img::after {
  content: "";
}
@media (max-width: 992px) {
  .design img {
    display: none;
  }
  .design .text-box {
    width: 100%;
  }
}
/* END design */
/* start portfolio */
.portfolio {
  padding: var(--section-padding);
  padding-bottom: 180px;
}
.portfolio .filter {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}
.portfolio .filter ul {
  display: flex;
}
.portfolio .filter li {
  padding: 10px;
  transition: 0.3s;
  cursor: pointer;
}
.portfolio .filter li:first-child {
  background-color: var(--main-color);
  color: #fff;
}
.portfolio .filter li:hover {
  background-color: var(--main-color);
  color: white;
}
.portfolio .galiry {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin-top: 190px;
}
.portfolio .galiry .col {
  width: 25%;
  overflow: hidden;
  position: relative;
}
@media (max-width: 1200px) {
  .portfolio .galiry .col {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .portfolio .galiry .col {
    width: 100%;
  }
}
.portfolio .galiry img {
  width: 100%;
  transition: 0.3s;
  transform: scale(1.1);
}
.portfolio .galiry .col:hover img {
  transform: rotate(2deg) scale(1.2);
}
.portfolio .col .text {
  width: 100%;
  height: 40%;
  background-color: #fff;
  position: absolute;
  bottom: -100%;
  left: 0;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.portfolio .col:hover .text {
  bottom: 0;
}
.portfolio .col .text p:first-child,
.portfolio .col .text p:last-child {
  padding: 5px 20px;
}
.portfolio .col .text p:last-child {
  color: var(--main-color);
}
.portfolio button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
  border: none;
  background-color: var(--main-color);
  padding: 15px;
}
.portfolio button a {
  color: white;
}
/* end portfolio */
/* start  video  */
.video {
  width: 100%;
  position: relative;
}
.video video {
  width: 100%;
}
.video .text-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  background-color: var(--transepern-color);
  text-align: center;
}
.video .text-box .text {
  padding: 50px;
  color: #fff;
}
.video .text-box .text h2 {
  font-weight: normal;
}
.video .text-box .text p {
  margin: 30px 0;
}
@media (max-width: 768px) {
  .video .text-box .text {
    padding: 25px;
  }
  .video .text-box .text h2 {
    font-size: 20px;
  }
  .video .text-box .text p {
    margin: 20px 0;
    font-size: 17px;
  }
  .video .text-box .text button {
    padding: 8px 10px;
    font-size: 13px;
  }
}
.video .text-box .text button {
  background-color: #000;
  border: 0;
  padding: 10px 20px;
}
.video .text-box .text a {
  color: white;
}
/* emd  video  */
/* start about */
.about {
  padding: var(--section-padding);
  padding-bottom: 0;
  overflow: hidden;
  text-align: center;
}
.about .image {
  height: 248px;
}
@media (max-width: 768px) {
  .about img {
    width: 345px;
  }
  .about .image {
    height: 120px;
  }
}
/* end about */
/* start statistics */
.statistics {
  padding: var(--section-padding);
  position: relative;
}
.statistics .image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/stats.png");
  background-size: cover;
}
.statistics .container {
  position: relative;
}
.statistics .overlay {
  color: #000000b3;
}
.statistics .stats {
  background-color: var(--transepern-color);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.statistics .stats .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  color: #fff;
}
@media (max-width: 1200px) {
  .statistics .stats {
    grid-gap: 18px;
    background-color: rgb(0 0 0 / 0%);
  }
  .statistics .stats .col {
    background-color: var(--transepern-color);
  }
}
.statistics .stats .col .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000;
  position: relative;
}
.statistics .stats .col .icon i {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.statistics .stats .col .num {
  font-size: 50px;
  font-weight: bold;
  margin: 30px 0;
  font-size: 50px;
  font-weight: bold;
}
.statistics .stats .col p {
  font-size: 14px;
}
/* end statistics */
/* start skills */
.our-slills {
  padding: var(--section-padding);
}
.our-slills .main-box {
  display: flex;
  gap: 120px;
}
.our-slills .testi,
.our-slills .skills {
  text-align: center;
  position: relative;
}
.our-slills .testi h3,
.our-slills .skills h3 {
  margin-bottom: 30px;
  font-weight: normal;
}
.our-slills .testi > p,
.our-slills .skills > p {
  color: #777;
  margin-bottom: 60px;
  text-transform: none;
  line-height: 2;
}
.our-slills .testi .col {
  display: flex;
}
.our-slills .testi .col .content {
  max-width: 360px;
  text-transform: none;
}
.our-slills .testi .col img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 50px;
  transition: 0.5s;
}
.our-slills .testi .col .image-1,
.our-slills .testi .col .image-2 {
  min-width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 50px;
  transition: 0.5s;
  background-size: cover;
}
.our-slills .testi .col .image-1 {
  background-image: url("../images/Screenshot_2021-03-30-02-46-48-45_010925bd39fdc4bfa_polarr_2.jpg");
}
.our-slills .testi .col .image-2 {
  background-image: url("../images/PicsArt_05-23-01.26.50.jpg");
}
.our-slills .testi .col .image-1:hover {
  background-image: url("../images/IMG20210810085138.jpg");
  background-size: cover;
}
.our-slills .testi .col .image-2:hover {
  background-image: url("../images/IMG-20210724-WA0000.jpg");
  background-size: cover;
}
.our-slills .testi .col p {
  text-align: start;
  line-height: 1.6;
  font-size: 17px;
}
.our-slills .testi .col .name {
  text-align: end;
  font-size: 14px;
  color: #777;
  margin-top: 10px;
}
.our-slills .testi .col hr {
  opacity: 0.5;
  margin: 13px 0 29px;
}
.our-slills .bulets {
  width: 65px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
}
.our-slills .bulets div {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid rgb(156, 156, 156);
}
.our-slills .bulets div:nth-child(2) {
  background-color: var(--main-color);
  border: none;
}
.our-slills .skills .lines {
  display: flex;
  flex-direction: column;
}
.our-slills .skills .lines .col {
  display: flex;
  flex-wrap: wrap;
}
.our-slills .skills .lines .col .mainline {
  width: 100%;
  height: 30px;
  background-color: #ccc;
  margin: 15px 0 40px;
  position: relative;
}
.our-slills .skills .lines .col .mainline .blueline {
  height: 100%;
  background-color: var(--main-color);
}
.our-slills .skills .lines .col .mainline .w90 {
  width: 90%;
}
.our-slills .skills .lines .col .mainline .w90::before,
.our-slills .skills .lines .col .mainline .w85::before,
.our-slills .skills .lines .col .mainline .w80::before {
  content: "90%";
  width: 43px;
  height: 28px;
  background-color: #000;
  position: absolute;
  top: -140%;
  right: 5.5%;
  border-radius: 5px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.our-slills .skills .lines .col .mainline .w90::after,
.our-slills .skills .lines .col .mainline .w85::after,
.our-slills .skills .lines .col .mainline .w80::after {
  content: "";
  position: absolute;
  top: -50%;
  right: 8.5%;
  border-width: 7px;
  border-bottom: none;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
}
.our-slills .skills .lines .col .mainline .w85 {
  width: 85%;
}
.our-slills .skills .lines .col .mainline .w85::before {
  content: "85%";
  right: 11.5%;
}
.our-slills .skills .lines .col .mainline .w85::after {
  right: 14%;
}
.our-slills .skills .lines .col .mainline .w80 {
  width: 80%;
}
.our-slills .skills .lines .col .mainline .w80::before {
  content: "80%";
  right: 16.5%;
}
.our-slills .skills .lines .col .mainline .w80::after {
  right: 19%;
}
@media (max-width: 992px) {
  .our-slills .main-box {
    flex-direction: column;
  }
  .our-slills .testi .col .content {
    max-width: none;
  }
  .our-slills .bulets {
    bottom: -30px;
  }
  .our-slills .testi .col {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .our-slills .testi .col p {
    text-align: center;
  }
  .our-slills .testi .col .image-1,
  .our-slills .testi .col .image-2 {
    max-width: 100px;
    max-height: 100px;
    margin: 0;
    margin-bottom: 30px;
  }
}
/* end skills */
/* start quote  */
.quote {
  padding: var(--section-padding);
  background-image: url("../images/quote.jpg");
  background-size: cover;
  width: 100%;
  text-align: center;
  position: relative;
  color: #fff;
}
.quote .container {
  position: relative;
}
.quote .overlay {
  background-color: rgb(0 0 0 / 75%);
}
.quote q {
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 30px;
  display: block;
}
/* .quote q::before,
.quote q::after {
  content: " - ";
} */
.quote p {
  font-size: 20px;
}
@media (max-width: 768px) {
  .quote q {
    font-size: 26px;
  }
}
/* end quote  */
/* start pricing */
.pricing {
  padding: var(--section-padding);
  padding-bottom: 160px;
}
.pricing .main-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px 20px;
  text-align: center;
}
.pricing .main-box .col {
  background-color: #fcfcfc;
}
@media (max-width: 768px) {
  .pricing .main-box .col {
    margin: 15px 40px;
  }
}
.pricing .main-box .col .head {
  position: relative;
  padding: 35px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
.pricing .main-box .col .head p {
  font-size: 20px;
  margin-bottom: 30px;
}
.pricing .main-box .col .head h1 {
  font-size: 60px;
  position: relative;
  width: 200px;
}
.pricing .main-box .col .head h1::after {
  content: "/mo";
  position: absolute;
  font-size: 19px;
  bottom: 5px;
  right: 18px;
}
.pricing .main-box .col .head h1::before {
  content: "$";
  font-size: 25px;
  position: absolute;
  top: -5px;
  left: 35px;
  font-weight: normal;
}
.pricing .main-box .col .body p {
  padding: 20px;
  position: relative;
}
.pricing .main-box .col .body p:not(:last-child):before {
  content: "";
  width: 50%;
  height: 1px;
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.pricing .main-box .col .foot {
  padding: 60px;
  position: relative;
  border-top: 1px solid var(--main-color);
}
.pricing .main-box .col .foot a {
  padding: 15px 20px;
  border: 1px solid var(--main-color);
  color: #000;
}
.pricing .p-foot {
  text-align: center;
  margin-top: 45px;
  font-size: 20px;
}
.pricing button {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  margin-top: 25px;
  border: none;
  background-color: var(--main-color);
  padding: 15px 25px;
}
.pricing button a {
  color: #fff;
}
/* end pricing */
/* start subsicribe */
.subscribe {
  padding: var(--section-padding);
  background-image: url(../images/subscribe.jpg);
  background-size: cover;
  position: relative;
  color: #fff;
}
.subscribe .overlay {
  background-color: rgb(0 0 0 / 50%);
}
.subscribe .container {
  position: relative;
  display: flex;
  align-items: center;
}
.subscribe form {
  display: flex;
  position: relative;
  width: 450px;
  max-width: 100%;
  margin-right: 50px;
}
.subscribe form i {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  left: 5%;
}
.subscribe form input[type="email"] {
  background-color: #0000;
  border: 1px solid #fff;
  padding: 20px 20px 20px 60px;
  border-right: none;
  color: #fff;
  caret-color: var(--main-color);
  width: calc(100% - 130px);
}
.subscribe form input[type="submit"] {
  background-color: var(--main-color);
  border: 1px solid #fff;
  border-left: none;
  color: #fff;
  padding: 0 20px;
  text-transform: uppercase;
  cursor: pointer;
  width: 130px;
}
.subscribe form input[type="email"]:focus,
.subscribe form input[type="submit"]:focus {
  outline: none;
}
.subscribe p {
  line-height: 2;
}
.subscribe form ::placeholder {
  color: #fff;
}
@media (max-width: 991px) {
  .subscribe .container {
    flex-direction: column;
  }
  .subscribe p {
    text-align: center;
    margin-top: 30px;
  }
  .subscribe form {
    margin: 0;
  }
}
/* end subsicribe */
/* start contact */
.contact {
  padding: var(--section-padding);
}
.contact .main-box {
  display: flex;
  justify-content: center;
}
.contact .main-box form {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  flex-basis: 70%;
}

.contact .main-box form input[type="text"],
.contact .main-box form input[type="email"],
.contact .main-box form textarea {
  margin-bottom: 30px;
  border: 1px solid #ccc;
  padding: 20px;
}
.contact .main-box form input[type="submit"] {
  border: none;
  background-color: var(--main-color);
  color: #fff;
  padding: 20px;
  width: 170px;
  cursor: pointer;
  align-self: end;
}
.contact .main-box form input[type="text"]:focus,
.contact .main-box form input[type="email"]:focus,
.contact .main-box form textarea:focus,
.contact .main-box form input[type="submit"]:focus {
  outline: none;
}
.contact .content .col1 {
  margin-bottom: 90px;
}
.contact .content h3 {
  font-weight: normal;
  margin-bottom: 30px;
  font-size: 19px;
}
.contact .content p {
  color: #777;
  line-height: 1.7;
}
.contact .content .col2 p {
  font-style: italic;
  line-height: 2;
}
@media (max-width: 768px) {
  .contact .main-box {
    flex-direction: column;
    align-items: center;
  }
  .contact form {
    width: 100%;
    margin-right: 0 !important;
  }
  .contact .main-box form input[type="submit"] {
    align-self: center;
    margin-bottom: 70px;
  }
  .contact .content {
    text-align: center;
  }
}
/* end contact */
/* start footer  */
footer {
  padding: 50px 0;
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  position: relative;
  color: #fff;
}
footer .overlay {
  background-color: rgb(0 0 0 / 70%);
}
footer .container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer img {
  height: 40px;
}
footer .content {
  text-align: center;
  position: relative;
  margin: 60px 0;
}
footer .content h3 {
  font-weight: normal;
  margin-bottom: 50px;
  font-size: 23px;
}
footer .content h3::before {
  content: "";
  width: 200px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
footer .content .icons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
footer p {
  font-size: 17px;
}
footer span {
  color: var(--main-color);
  font-weight: 800;
}
footer a {
  color: #fff;
  display: block;
}
/* end footer  */
